@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #222222;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Lora', serif;
}
#header4-1 H1 {
  color: #ffffff;
}
#header4-1 P {
  color: #ffffff;
}
#content4-2 .mbr-section__col .mbr-header__text {
  text-align: center;
}
#content4-2 .mbr-section-title .mbr-header__text {
  text-align: center;
}
#content4-2 P {
  text-align: center;
}

#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #222222;
}
#menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5 .mbr-brand__name a {
  font-family: 'Lora', serif;
}
